[submodule "pathfinder-ios"]
	path = pathfinder-ios
	url = https://github.com/csse497/pathfinder-ios
[submodule "pathfinder-android"]
	path = pathfinder-android
	url = https://github.com/csse497/pathfinder-android
[submodule "pathfinder-webclient"]
	path = pathfinder-webclient
	url = https://github.com/csse497/pathfinder-webclient
[submodule "pathfinder-webserver"]
	path = pathfinder-webserver
	url = https://github.com/csse497/pathfinder-webserver
[submodule "pathfinder-server"]
	path = pathfinder-server
	url = https://github.com/csse497/pathfinder-server
[submodule "pathfinder.js"]
	path = pathfinder.js
	url = http://github.com/csse497/pathfinder.js
